:root{
  --bg-body: #E5E5E5;
  --bg-card: #f7f7f7;

  --white: #fff;
  --purple: #886ce4;
  --blue: #4263EB;
  --dark-blue: #00082F;
  --medium-blue: #00082fcc;
  --light-blue: #00082f99;
  --extra-light-blue: #4264eb38;
  
  --main-fade-animation: fade 2.3s forwards;

  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Roboto Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-body);
  font-family: var(--primary-font-family);
}

img {
  max-width: 100%;
  display: block;
}

ul {
list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}