#main-container {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 280px;
  padding: 40px 20px;
  display: grid;
  justify-content: center;
}

.aside {
  display: none;
  height: auto;
  opacity: 0;
  animation: var(--main-fade-animation);
}

.container {
  padding: 20px;
  max-width: 320px;
  display: grid;
  text-align: center;
  opacity: 0;
  animation: var(--main-fade-animation);
  background-color: #f5f5f5;
  background-color: var(--bg-card);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 3px 8px 30px 0 rgb(52 57 61 / 30%),
    -3px -4px 12px 0 rgb(52 57 61 / 15%);
}

/* Header */

.header {
  margin-bottom: 24px;
  opacity: 0;
  animation: fade-left 1s ease 800ms forwards;
}

.header > .avatar {
  margin: 0 auto 24px;
  padding: 3.7px;
  width: 100px;
  height: 100px;
  border: 4px solid var(--blue);
  border-radius: 50%;
}

.header > .avatar > img {
  border-radius: 50%;
}

.header > .name {
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--dark-blue);
}

.header > .username {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--medium-blue);
}

/* Abilities */

.career {
  margin-bottom: 32px;
  opacity: 0;
  animation: fade-left 1s ease 1.3s forwards;
}

.career > h2 {
  margin-bottom: 8px;
  font-size: 18px;
  color: var(--medium-blue);
}

.career .abilities {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  color: var(--dark-blue);
}

/* Nav links */
.link-list {
  margin-bottom: 48px;
  opacity: 0;
  animation: fade-left 1s ease 1.8s forwards;
}

.link-list > li:not(:last-child) {
  margin-bottom: 16px;
}

.link-list > li > .link {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 200ms ease;
}

.link-list > li > .link:hover {
  transition: all 200ms ease;
  color: var(--medium-blue);
  border: 1px solid var(--blue);
  background-color: #4264eb38;
}

.link-list > li > .link i {
  padding-right: 5px;
}

.footer > p {
  font-weight: 500;
  color: var(--medium-blue);
  opacity: 0;
  animation: fade-left 1s ease 2.3s forwards;
}

.footer > p > a:hover {
  color: var(--dark-blue);
}

/* Animations */

@keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes fade-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 400px) {
  .header > .avatar {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  #main-container {
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    align-items: center;
  }

  .aside {
    display: block;
    max-width: 300px;
  }
}

@media screen and (min-width: 991px) {
  .aside {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  #main-container {
    justify-content: space-evenly;
  }

  .aside {
    max-width: 500px;
  }
}


